* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    color: #000000;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
}

.container {
    max-width: 1170px;
    width: 95%;
    margin: 0 auto;
}

.header {
    padding: 18px 0px 22px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__img {
    height: 60px;
    width: 60px;
    border: 2px solid #000000;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
    flex-shrink: 0;
}

.logo__pic {
    height: 100%;
    width: 80%;
    object-fit: contain;
}

.nav__list {
    display: flex;
}

.nav__item {
    margin-right: 54px;
}

.nav__link:hover {
    font-weight: 700;
    text-decoration: underline;
}

.nav__item:last-child {
    margin-right: 0;
}

.cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.14);
    border-radius: 50px;
    width: 152px;
    padding-right: 15px;
}

.cart__circle {
    background: #FFBF42;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart__img {
    width: 58%;
    height: 58%;
}

.cart__price {
    font-weight: 700;
    font-size: 14px;
    margin: 0px 5px;
}

.cart__button {
    width: 11px;
    height: 11px;
    display: flex;
    align-items: flex-start;
    overflow: hidden;
}

.cart__triangle {
    width: 100%;
}

.header__burger {
    display: none;
    position: relative;
    width: 55px;
    height: 33px;
    z-index: 30;
    margin-left: 23px;
    margin-right: 10px;
}

.header__burger::before,
.header__burger::after {
    content: "";
    display: block;
    background-color: #000000;
    position: absolute;
    width: 50px;
    height: 5px;
    left: 0;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.header__burger::before {
    top: 0;
}

.header__burger::after {
    bottom: 0;
}

.header__burger span {
    display: block;
    position: absolute;
    background-color: #000000;
    left: 0;
    height: 5px;
    width: 55px;
    top: 14px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

@media (max-width: 780px) {
    .header__burger {
        display: block;
    }

    .header .nav {
        display: none;
    }
}

.hero {
    height: 573px;
    position: relative;
    display: flex;
}

.hero__column {
    height: 100%;
}

.hero__left {
    flex: 0 0 100%;
    position: relative;
}

.hero__container {
    display: flex;
    height: 100%;
    align-items: center;
}

.hero__left::before {
    content: "";
    position: absolute;
    background: #FFFFFF;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 0px 500px 500px 0px;
    -webkit-border-radius: 0px 500px 500px 0px;
    -moz-border-radius: 0px 500px 500px 0px;
    -ms-border-radius: 0px 500px 500px 0px;
    -o-border-radius: 0px 500px 500px 0px;
    width: 100vw;
    height: 100%;
    z-index: -10;
    right: 50%;
}

.hero__content {
    width: 40%;
}

.hero__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}

.hero__desc {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.33;
    margin: 25px 0px 31px;
}

.catalog-link {
    background: #FFBF42;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.14);
    border-radius: 50px;
    font-weight: 700;
    font-size: 14px;
    line-height: 131.19%;
    width: 256px;
    display: block;
    padding: 15px 5px;
    text-align: center;
}

.hero__right {
    border-radius: 500px 0px 0px 500px;
    -webkit-border-radius: 500px 0px 0px 500px;
    -moz-border-radius: 500px 0px 0px 500px;
    -ms-border-radius: 500px 0px 0px 500px;
    -o-border-radius: 500px 0px 0px 500px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    flex: 0 0 50%;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}

.hero__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .hero {
        height: 986px;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 44px;
    }

    .hero__column {
        flex: 0 0 49%;
        width: 81.7%;
        margin: 0;
    }

    .hero__left::before {
        right: 0;
    }

    .hero__container {
        margin-left: 20%;
    }

    .hero__content {
        width: 72%;
    }

    .hero__title {
        font-weight: bold;
        font-size: 36px;
        line-height: 1.17;
    }

    .hero__desc {
        font-weight: 300;
        font-size: 18px;
        line-height: 1.33;
        margin: 25px 0px 31px;
    }

    .hero__right {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        align-self: flex-end;
    }
}